$unified-number-control-position: "right" !default;

$unified-number-control-width: 24px !default;
$unified-number-control-vertical-gutter: 4px !default;
$unified-number-control-horizontal-gutter: 2px !default;

$unified-number-control-button-width: 100% !default;
$unified-number-control-button-height: 100% !default;

$unified-number-control-button-css-glyph: true !default;
$unified-number-control-button-css-glyph-width: 10px !default;
$unified-number-control-button-css-glyph-height: 2px !default;

$unified-number-transition: 		true !default;
$unified-number-transition-speed: 	500ms !default;
$unified-number-transition-timing: 	ease-in-out !default;
$unified-number-transition-delay: 	0s !default;
